<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>About Us</h1>
  </header>
  <section class="content">
    <div class="details">
      <h1>{{ user.name }} Catering</h1>
      <p>
        Welcome to our {{ user.name }} Catering service in Ahmedabad! We are
        dedicated to providing you with the best catering experience for any
        event or occasion. Our team of experienced chefs and staff are
        passionate about delivering high-quality food and exceptional service to
        make your event unforgettable.
      </p>
      <br />
      <p>
        At Our Catering Service, we understand that each event is unique and
        requires special attention. That's why we offer a wide range of
        customizable menus to fit your specific needs and preferences. Whether
        you're planning a corporate event, wedding, birthday party, or any other
        occasion, we have the perfect menu to suit your tastes and budget.
      </p>

      <button
        type="button"
        class="btn btn-primary contact-us"
        routerLink="/contact-us"
      >
        Contact Us
      </button>
      
      <div class="vision-mission">
        <div class="vm vision">
          <h2>Our Vision</h2>
          <p>
            Our vision is to become the most trusted and reliable catering
            service in Ahmedabad, by consistently providing exceptional quality,
            innovative and delicious food, and outstanding customer service.
          </p>
        </div>
        <div class="vm mission">
          <h2>Our Mission</h2>
          <p>
            Our mission is to create unforgettable experiences for our clients
            by providing them with top-quality catering services that are
            tailored to their specific needs and preferences.
          </p>
        </div>
      </div>
    </div>
    <div class="img">
      <img
        src="../../../assets/images/about-us-bg.jpg"
        height="100%"
        width="100%"
      />
    </div>
  </section>
</div>
