<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>Menu</h1>
  </header>
  <section class="content">
    <div class="accordion" *ngFor="let category of categories">
      <button
        type="button"
        class="btn"
        [ngClass]="{ opened: category.isExpanded }"
        (click)="category.isExpanded = !category.isExpanded"
      >
        {{ category.name }}
      </button>
      <div>
        <!-- <div
        class="panel"
        [ngClass]="{ 'show-panel': category.isExpanded }"
        [ngStyle]="{
          'background-image': category.backgroundImage,
          'background-size': 'cover',
          'background-position': 'center'
        }"
      > -->
        <ol class="panel" [ngClass]="{ 'show-panel': category.isExpanded }">
          <div class="item" *ngFor="let item of category.items">
            {{ item.name }}
          </div>
        </ol>
      </div>
    </div>
  </section>
</div>
