<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>Menu</h1>
  </header>
  <section class="content">
    <div class="accordion" *ngFor="let category of categories">
      <button
        type="button"
        class="category"
        [ngClass]="{ opened: category.isExpanded }"
        (click)="category.isExpanded = !category.isExpanded"
      >
        {{ category.name }}
      </button>
      <!-- <div
        class="panel"
        [ngClass]="{ 'show-panel': category.isExpanded }"
        [ngStyle]="{
          'background-image': category.backgroundImage,
          'background-size': 'cover',
          'background-position': 'center'
        }"
      > -->
      <div class="panel" [ngClass]="{ 'show-panel': category.isExpanded }">
        <div class="item" *ngFor="let item of category.items; let i = index">
          <label class="checkbox-label">
            <input
              type="checkbox"
              id="{{ item.name }}{{ i }}"
              [(ngModel)]="item.isChecked"
              (change)="onCheckboxChange($event, item)"
            />
            <span class="checkbox"></span>
            <span [ngClass]="{ 'searched-item': item.searched }"
              >{{ item.name }}
            </span>
          </label>
        </div>
      </div>
    </div>
  </section>

  <div class="action-section">
    <div class="form-group search-input">
      <input
        type="text"
        id="item"
        class="form-field"
        placeholder="Search Item"
        ngModel
        [(ngModel)]="searchedText"
        (ngModelChange)="onInputChange($event)"
      />
      <label for="item" class="form-label">Search Item</label>

      <img
        class="cross"
        src="assets/icons/close.svg"
        height="100%"
        width="100%"
        (click)="clear()"
      />
    </div>
    <div style="margin-top: 1rem">
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="clearMenu()"
        [disabled]="!formData.yourMenu.length"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="openModalForShareMenu()"
        [disabled]="!formData.yourMenu.length"
      >
        Send Details
      </button>
    </div>
  </div>

  <div class="backdrop" *ngIf="!!openModal"></div>
  <div class="modal" *ngIf="!!openModal">
    <div class="modal-header">
      <h2>Send Details</h2>
      <img
        class="cross"
        src="assets/icons/close.svg"
        height="100%"
        width="100%"
        (click)="closeModalForShareMenu()"
      />
    </div>
    <div class="modal-body">
      <div class="contact-form">
        <div class="form-group">
          <input
            type="text"
            id="name"
            class="form-field"
            placeholder="Name"
            [(ngModel)]="formData.name"
          />
          <label for="name" class="form-label">Name *</label>
        </div>
        <div class="form-group">
          <input
            type="number"
            id="tel"
            class="form-field"
            placeholder="Phone No."
            [(ngModel)]="formData.phone"
          />
          <label for="tel" class="form-label">Phone No. *</label>
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-field"
            placeholder="Email"
            [(ngModel)]="formData.email"
          />
          <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-group">
          <textarea
            id="message"
            class="form-field"
            placeholder="Your Message"
            rows="4"
            [(ngModel)]="formData.message"
          ></textarea>
          <label for="message" class="form-label">Your Message</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary mr-2"
        [disabled]="!formData.name || !formData.phone"
        (click)="sendToWhatsapp()"
      >
        Send
      </button>
      <button type="reset" class="btn btn-secondary" (click)="clearForm()">
        Clear
      </button>
    </div>
  </div>
</div>
