<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>Menu</h1>
  </header>
  <section class="content">
    <div class="accordion" *ngFor="let category of categories">
      <button
        type="button"
        class="category"
        [ngClass]="{ opened: category.isExpanded }"
        (click)="category.isExpanded = !category.isExpanded"
      >
        {{ category.name }}
      </button>
      <div>
        <!-- <div
        class="panel"
        [ngClass]="{ 'show-panel': category.isExpanded }"
        [ngStyle]="{
          'background-image': category.backgroundImage,
          'background-size': 'cover',
          'background-position': 'center'
        }"
      > -->
        <div class="panel" [ngClass]="{ 'show-panel': category.isExpanded }">
          <div class="item" *ngFor="let item of category.items; let i = index">
            <div class="checkbox-label">
              <input
                type="checkbox"
                id="{{ item.name }}{{ i }}"
                [(ngModel)]="item.isChecked"
                (change)="onCheckboxChange($event, item)"
                name="{{ item.name }}{{ i }}"
              />
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="print-btn">
    <button type="submit" class="btn btn-primary mr-2" (click)="printMenu()">
      Print
    </button>
  </div>
</div>
