@import '../../../assets/scss/variables';

.footer {
    padding: 2rem;
    position: relative;
    background-image: url('../../../assets/images/footer-bg.jpg');
    background-size: cover;
    background-position: top;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    opacity: 0.8;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    height: 100vh; // confused here
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
        "logo contact service";
    column-gap: 5rem;
    color: $text-muted;
}

.img-container {
    grid-area: logo;
    height: 10rem;
    width: 20rem;
    text-align: center;
}

.contact {
    grid-area: contact;
}

.quick-links {
    grid-area: service;
}

ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    gap: 1.2rem;
}

.address h4:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/map-pin.svg') no-repeat center center;
    background-size: contain;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.phone h4:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/phone.svg') no-repeat center center;
    background-size: contain;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.mail h4:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/mail.svg') no-repeat center center;
    background-size: contain;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

li>h4 {
    color: white;
}

.item-header {
    color: $secondary-color;
    margin-bottom: 1rem;
}

.item-link>p {
    color: $text-muted;
    margin-left: 2.5rem;
}

.social-media {
    position: absolute;
    // bottom: 2rem;
    padding-top: 1rem;
    border-top: 0.1rem solid $text-muted;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.social-media>img {
    height: 3rem;
    width: 3rem;
    border: 0.15rem solid $secondary-color;
    border-radius: 20%;
    padding: 0.5rem;
    cursor: pointer;
    filter: invert(78%) sepia(54%) saturate(5%) hue-rotate(47deg) brightness(90%) contrast(88%);
}

.social-media>img:hover {
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.rights {
    position: absolute;
    bottom: 2rem;
    padding-top: 1rem;
    border-top: 0.2rem solid $text-muted;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

@media (width <=480px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "service"
            "contact";
    }
}

@media (481px <=width <=850px) {
    .content {
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-areas:
            "logo logo service"
            "contact contact service"
            "contact contact service";
    }
}