@import '../../../assets/colors';

.img-container {
    height: 10rem;
    width: 20rem;
    text-align: center;
}

.footer {
    padding: 2rem;
    height: 70vh;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    column-gap: 3rem;
    color: $text-muted;
    position: relative;
    background-image: url('../../../assets/images/footer-bg.jpg');
    background-size: cover;
    background-position: top;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    opacity: 0.2;
    z-index: -1;
}

ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    gap: 1.2rem;
    font-size: 1.5rem;
}

.address h4:before {
    content: url('../../../assets/icons/map-pin.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.phone h4:before {
    content: url('../../../assets/icons/phone.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.mail h4:before {
    content: url('../../../assets/icons/mail.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

li>h4 {
    color: white;
}

.item-header {
    color: $secondary-color;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.item-link {
    color: $text-muted;
}

.social-media {
    position: absolute;
    // bottom: 2rem;
    padding-top: 1rem;
    border-top: 0.1rem solid $text-muted;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.social-media>img {
    height: 3rem;
    width: 3rem;
    border: 0.15rem solid $secondary-color;
    border-radius: 20%;
    padding: 0.5rem;
    cursor: pointer;
    filter: invert(78%) sepia(54%) saturate(5%) hue-rotate(47deg) brightness(90%) contrast(88%);
}

.social-media>img:hover {
    filter: invert(13%) sepia(92%) saturate(6157%) hue-rotate(353deg) brightness(96%) contrast(84%);
}

.rights {
    position: absolute;
    bottom: 2rem;
    padding-top: 1rem;
    border-top: 0.2rem solid $text-muted;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width:350px) {
    .footer {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        height: 100vh;
    }
}

@media (350px <=width <=620px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;
    }

    .img-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .quick-links {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .contact {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}