<div class="footer">
  <div class="overlay"></div>
  <div class="img-container" routerLink="/home">
    <img
      class="img"
      src="assets/logos/logo-dark-1.png"
      width="100%"
      height="100%"
    />

    <div class="social-media">
      <img
        *ngFor="let social of user.socialMedias"
        class="img"
        [src]="social.path"
        width="100%"
        height="100%"
        (click)="onSocialMediaClick(social)"
      />
    </div>
  </div>

  <ul class="quick-links">
    <h2>Our Sevices</h2>
    <li class="item-link">Wedding Function</li>
    <li class="item-link">Birthday Part</li>
    <li class="item-link">Anniversary Function</li>
    <li class="item-link">Ring Ceremony</li>
    <li class="item-link">Baby Shower</li>
    <li class="item-link">Corporate Events</li>
  </ul>

  <div class="rights">
    <p>
      &#169; {{ currentYear }} {{ user.name }} Catering. All Rights Reserved !
    </p>
  </div>
</div>
