<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>Contact Us</h1>
  </header>
  <section class="content">
    <div class="contact-details">
      <div class="details address" (click)="openLocationInGoogleMap()">
        <h2>Address</h2>
        <p>{{ user.plainAddress }}</p>
      </div>
      <div class="details phone">
        <h2>Phone</h2>
        <p>{{ user.mobile }}</p>
        <p>{{ user.mobile2 }}</p>
      </div>
      <div class="details mail">
        <h2>Mail</h2>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <div class="contact-form">
      <div class="form-group">
        <input
          type="text"
          id="name"
          class="form-field"
          placeholder="Name"
          [(ngModel)]="formData.name"
        />
        <label for="name" class="form-label">Name *</label>
      </div>
      <div class="form-group">
        <input
          type="number"
          id="tel"
          class="form-field"
          placeholder="Phone No."
          [(ngModel)]="formData.phone"
        />
        <label for="tel" class="form-label">Phone No. *</label>
      </div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-field"
          placeholder="Email"
          [(ngModel)]="formData.email"
        />
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="form-group">
        <textarea
          id="message"
          class="form-field"
          placeholder="Your Message"
          rows="6"
          [(ngModel)]="formData.message"
        ></textarea>
        <label for="message" class="form-label">Your Message</label>
      </div>
      <div class="footer">
        <button
          type="submit"
          class="btn btn-primary mr-2"
          [disabled]="!formData.name || !formData.phone"
          (click)="sendToWhatsapp()"
        >
          Send
        </button>
        <button type="reset" class="btn btn-secondary" (click)="clearForm()">
          Clear
        </button>
      </div>
    </div>
    <div class="map">
      <div #map style="width: 100%; height: 400px"></div>
    </div>
  </section>
</div>
