@import '../../../assets/colors';

.container {
    position: relative;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 5rem;
    color: white;
}

.content {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10rem;
    row-gap: 2rem;
}

.map {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    text-align: right;
}

.contact-details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.address h2::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/map-pin.svg') no-repeat center center;
    background-size: contain;
}

.phone h2::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/phone.svg') no-repeat center center;
    background-size: contain;
}

.mail h2::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url('../../../assets/icons/mail.svg') no-repeat center center;
    background-size: contain;
}

.details>p {
    color: $text-gray;
    line-height: 2.5rem;
    margin-left: 3rem;
}

.details>h2 {
    margin-bottom: 0.2rem;
    color: $secondary-color;
}

@media (max-width :400px) {
    .content {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
    }

    .contact-form {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contact-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-details {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .details:first-child {
        flex: 1 1 100%;
    }

    .details:not(:first-child) {
        flex: 1 1 calc(50% - 1rem);
    }
}