<div class="container">
  <div class="overlay"></div>
  <header>
    <h1>Contact Us</h1>
  </header>
  <section class="content">
    <div class="section contact-details">
      <div class="card-container">
        <div class="card pointer" (click)="openLocationInGoogleMap()">
          <div class="body">
            <h3>Address</h3>
            <p>{{ user.plainAddress }}</p>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <h3>Phone</h3>
            <p>{{ user.mobile }}</p>
            <p>{{ user.mobile2 }}</p>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <h3>Email</h3>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section map">
      <div #map style="width:100%;height:90vh"></div>
    </div>
    <div class="section form">
      <button type="button" (click)="sendDataToWhatsapp()">Send</button>
    </div>
  </section>
</div>
