<div class="header">
  <div class="img-container" routerLink="/home">
    <img class="img" src="assets/logos/logo-1.jpg" width="100%" height="100%" />
  </div>
  <ul class="items" [ngClass]="{ 'menu-open': isMenuOpned }">
    <li class="item">
      <a
        href="javascript:;"
        routerLink="/home"
        routerLinkActive="active"
        class="item-link"
        (click)="toggleMenu($event)"
      >
        Home
      </a>
    </li>
    <li class="item">
      <a
        href="javascript:;"
        routerLink="/about-us"
        routerLinkActive="active"
        class="item-link"
        (click)="toggleMenu($event)"
      >
        About Us
      </a>
    </li>
    <!-- <li class="item">
      <a
        href="javascript:;"
        routerLink="/services"
        routerLinkActive="active"
        class="item-link"
        (click)="toggleMenu($event)"
      >
        Services
      </a>
    </li> -->
    <li class="item">
      <a
        href="javascript:;"
        routerLink="/menu"
        routerLinkActive="active"
        class="item-link"
        (click)="toggleMenu($event)"
      >
        Menu
      </a>
    </li>
    <li class="item">
      <a
        href="javascript:;"
        routerLink="/contact-us"
        routerLinkActive="active"
        class="item-link"
        (click)="toggleMenu($event)"
      >
        Contact
      </a>
    </li>
  </ul>

  <div class="menu-icon" (click)="toggleMenu($event)">
    <img
      class="menu"
      src="assets/icons/menu.svg"
      height="70%"
      width="70%"
      *ngIf="!isMenuOpned"
    />
    <img
      class="cross"
      src="assets/icons/close.svg"
      height="65%"
      width="65%"
      *ngIf="isMenuOpned"
    />
  </div>
</div>
