@import '../../../assets/colors';

.header {
    position: sticky;
    top: 0;
    padding: 0.5rem 2rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
}

.img-container>.img {
    // mix-blend-mode: color-burn;
    cursor: pointer;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.item {
    cursor: pointer;
    text-transform: capitalize;
}

.item-link {
    color: $primary-color;
    text-decoration: none;
}

.item-link.active {
    color: $secondary-color;
    font-weight: bolder;
}

.item-link:hover {
    color: $secondary-color;
}

@media (min-width :850px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 850px) {
    .menu-icon {
        display: block;
        z-index: 2;

        img.cross {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(245deg) brightness(106%) contrast(102%);
        }
    }

    .items {
        position: absolute;
        right: 0;
        top: 0;
        height: min(60vh, 30rem);
        width: min(30vw, 25rem);
        background-color: $secondary-color;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: min(5rem, 5%);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .menu-open {
        opacity: 1;
        transition: all 0.2s;
        pointer-events: auto;
        visibility: visible;
    }

    .item-link {
        color: white;
    }

    .item-link.active {
        color: white;
        text-decoration: underline;
        font-weight: 500;
    }

    .item-link:hover {
        color: white;
    }
}