@import 'assets/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: $primary-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 480px) {
    html {
        font-size: 6px;
    }
}

@media (min-width:481px) and (max-width: 850px) {
    html {
        font-size: 8px;
    }
}