@import 'assets/scss/variables';
@import 'assets/scss/forms';
@import 'assets/scss/cursor';
@import 'assets/scss/button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background: $secondary-color;
}

html {
    font-size: 10px;
    color: $primary-color;
    font-family: $primary-font-family;
}

.pointer {
    cursor: pointer;
}

.mr-2 {
    margin-right: 0.5rem;
}

.secondary {
    color: $secondary-color;
}

@media (max-width: 480px) {
    html {
        font-size: 6px;
    }

    .btn {
        padding: 0.5rem 1rem;
    }
}

@media (min-width:481px) and (max-width: 850px) {
    html {
        font-size: 8px;
    }

    .btn {
        padding: 0.7rem 1.5rem;
    }
}