@import 'assets/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background: $secondary-color;
}

html {
    font-size: 10px;
    color: $primary-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 480px) {
    html {
        font-size: 6px;
    }
}

@media (min-width:481px) and (max-width: 850px) {
    html {
        font-size: 8px;
    }
}

// input field design chnages
.form-group {
    position: relative;
    padding: 1.5rem 0 0;
    margin-top: 1rem;
}

.form-field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 1.6rem;
    color: #212121;
    padding: 0.7rem 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-field::placeholder {
    color: transparent;
}

.form-field:placeholder-shown~.form-label {
    font-size: 1.6rem;
    cursor: text;
    top: 2rem;
}

label,
.form-field:focus~.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.2rem;
    color: $text-gray;
}

.form-field:focus~.form-label {
    color: $secondary-color;
}

.form-field:focus {
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid $secondary-color;
}

// button design changes

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid $secondary-color;
    cursor: pointer;
}

.btn-primary {
    background-color: $secondary-color;
    color: white;
}

.btn-primary:active {
    background-color: $secondary-color;
    filter: drop-shadow(0.1rem 0.1rem $secondary-color) contrast(200%);
    color: white;
}

.btn-secondary {
    background-color: white;
    color: $secondary-color;
}

.btn-secondary:active {
    background-color: white;
    filter: drop-shadow(0.1rem 0.1rem $text-muted) contrast(200%);
}

.mr-2 {
    margin-right: 0.2rem;
}